
h3{
    font-size: medium;
    font-style: normal;
    margin: 35mm;
    font-family: serif;
}

h1{
    font-size: xx-large;
    font-style: normal;
    margin-top: 50mm;
    font-family: serif;
}   

h2{
    -ms-text-size-adjust: auto;
    font-style: normal;
    margin: 35mm;
    font-family: serif;
}

a{
    color: black;
}